* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.player {
  display: flex;
  width: 100%;
  min-height: 80px;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
  padding: 10px;

  & span {
    display: block;
    width: 80px;
    height: 80px;
    background-color: blue;
    border-radius: 50%;
  }

  & .contentplayer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 80px;
    padding-left: 25px;

    & h1 {
      color: #000;
      font-weight: 700;
      font-size: 18px;
      font-style: italic;
    }

    & p {
      color: #7a7a7a;
      font-weight: 300;
      font-size: 15px;
      font-style: italic;
    }
  }
}
