.twofa {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 2000;
}

h1 {
  color: rgba(199, 8, 12, 1);
  font-size: 28px;
  font-style: italic;
  text-shadow: 1px 1px 2px #000;
}

.qrCodeContainer {
  margin-bottom: 20px;
}

.qrCode {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.secretContainer {
  margin-bottom: 20px;
}

.secretContainer strong {
  font-weight: bold;
}

.btn {
  background: linear-gradient(
    120deg,
    rgba(226, 34, 39, 1) 0%,
    rgba(199, 8, 12, 1) 19%,
    rgba(108, 1, 2, 1) 38%,
    rgba(68, 1, 1, 1) 63%,
    rgba(34, 43, 49, 1) 86%,
    rgba(85, 102, 110, 1) 100%
  );
  color: #fff;
  font-size: 14px;
  padding: 12px 50px;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
