body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
}

form {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formClass {
  width: 500px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 100px;
  justify-items: center;
  align-items: center;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.btnSub {
  grid-column: span 2;
}

.formClass label i {
  font-size: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  transition: all 0.3s ease;
}

.formClass label p {
  position: absolute;
  top: 98%; 
  left: 31%;
  transition: top 0.1s ease; 
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

input[type="radio"]:checked + label p {
  top: 80%; 
  font-family: "Yuji Mai", serif;
  font-weight: 400;
  font-style: normal;
}

input[type="radio"]:checked + label i {
  top: 45%; 
  font-size: 179px
}

input[type="radio"]:checked + label {
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  overflow: initial;
}

label span {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
