.statusroom .statusroom_toggle {
  display: none;
}

.statusroom .statusroom_label {
  width: 25%;
  height: 31px;
  position: relative;
  display: block;
  background: #ffffff;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0 -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.5s ease;
  margin-bottom: 20px;
}

.statusroom .statusroom_label::after {
  content: "";
  width: 23px;
  height: 80%;
  position: absolute;
  top: 3px;
  left: 10px;
  background: linear-gradient(180deg, #c0c0c0, #ffffff);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.statusroom_toggle:checked + .statusroom_label {
  background-color: #9d0000;
}

.statusroom_toggle:checked + .statusroom_label:after {
  left: 85px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #c00000, #3a3a3a);
}

.statusroom_label:active::after {
  width: 50px;
}

.statusroom_label svg {
  position: absolute;
  top: 7px;
  z-index: 100;
  font-size: 18px;
  color: #000;
}

.statusroom_toggle:checked + .statusroom_label svg {
  color: #fff;
}

.statusroom_label .iconPublicRoom {
  left: 12px;
  transition: 0.3s;
}

.statusroom_label .iconPrivateRoom {
  left: 64px;
  transition: 0.3s;
}
