* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.rooms {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms .content_section {
  width: 100vw;
  max-width: 1300px;
  height: 100vh;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: transparent;
}

.rooms .playerInfo {
  width: 100%;
  height: 20%;
  background-color: #fff;
  border-radius: 20px;

  padding: 0px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rooms .playerInfo div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms .playerInfo img {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  object-fit: cover;
}

.rooms .playerInfo h2 {
  margin-left: 15px;
}

.rooms .playerInfo .btnCreateRoom {
  background: rgba(226, 34, 39, 1);
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  transition: all 0.5s ease;
}

.rooms .playerInfo .btnCreateRoom:hover {
  background: rgb(0, 0, 0);
}

.rooms .content {
  width: 100%;
  height: 80%;
  border-radius: 20px;

  display: flex;
  gap: 20px;
}

.rooms .content .roomsGames {
  width: 70%;
  height: 100%;
  background-color: transparent;
  overflow: auto;
  border-radius: 20px;
  scrollbar-width: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 25px;
}

.rooms .content .roomsGames .games {
  width: 230px;
  height: 230px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 35px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 10px;
}

.rooms .content .roomsGames .games div {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rooms .content .roomsGames .games .text {
  width: 100%;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.rooms .content .roomsGames .games div img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  box-shadow: 1px 1px 5px #000;
}

.rooms .content .roomsGames .games div .titleRoom {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.rooms .content .roomsGames .games .text p {
  display: flex;
  color: #8e8e8e;
  font-size: 18px;
  gap: 5px;
  margin-left: 5px;
  align-items: center;
}

.rooms .content .roomsGames .games .iconLeader {
  color: #ffff00;
  font-size: 22px;
  filter: drop-shadow(1px 1px #000);
}

.rooms .content .roomsGames .games .capacityRoom {
  color: #0000ff;
  font-size: 22px;
}

.rooms .content .roomsGames .games .privateRoom {
  color: #ff0000;
  font-size: 22px;
}

.rooms .content .roomsGames .games .publicRoom {
  color: #00ff48;
  font-size: 22px;
}

.rooms .content .roomsGames .games .btnGames {
  position: absolute;
  left: 90%;
  bottom: -15px;

  padding: 0;

  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rooms .content .roomsGames .games .btnGames .iconBtnGames {
  color: #ff0000;
  font-size: 20px;
}

.rooms .content .friends {
  width: 30%;
  height: 100%;
  background-color: transparent;
  overflow: auto;
  border-radius: 20px;
  scrollbar-width: none;
}

.rooms .content_section .content .friends .friend {
  width: 100%;
  height: 120px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #bbb;
}

@media (max-width: 520px) {
  .rooms .playerInfo {
    padding: 5px 10px;
  }

  .rooms .playerInfo div {
    flex-direction: column;
  }

  .rooms .playerInfo img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }

  .rooms .playerInfo h2 {
    margin-left: 0px;
    font-size: 15px;
  }

  .rooms .playerInfo .btnCreateRoom {
    padding: 5px 30px;
  }
}
